<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>编辑记账类型</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div id="app" v-cloak>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">XX记账</a>
					<p class="navbar-text navbar-right"><a href="#" class="navbar-link" @click="signout()">退出</a></p>
					<p class="navbar-text navbar-right"><a href="/order/add.html" class="navbar-link">记账</a></p>
					<p class="navbar-text navbar-right"><a href="/order/get.html" class="navbar-link">查询</a></p>
					<p class="navbar-text navbar-right">欢迎<a href="#" class="navbar-link">{{user.name}}</a></p>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<p>账类名称：</p>
					<input v-model="type.name" class="form-control">
					<p>收入/支出：</p>
					<select v-model="type.income" class="form-control">
						<option value="0">支出</option>
						<option value="1">收入</option>
					</select>
					<button @click="addType()" class="btn">添加</button>
					<button @click="delType()" class="btn">删除</button>
				</div>
			</div>
		</div>
		
		<div id="modal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
						</button>
						<h4 class="modal-title">{{message}}</h4>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" @click="yes()">确定</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/vue.min.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el : '#app',
			data : {
				user : { },
				message : '',
				type : { 'income' : 0 }
			},
			methods : {
				checkSignin : function(){
					$.ajax({
						type : 'get',
						url : '/getSigninUser',
						async : false,
						success : function(result){
							if(result.code == 0){
								app.user = result.message;
							}else{
								window.location.href = '/user/signin.html';
							}
						}
					});
				},
				addType : function(){
					$.ajax({
						type : 'post',
						url : '/addType',
						data : app.type,
						success : function(result){
							if(result.code == 0){
								alert('yes add');
							}
							else{
								alert('请输入增加的类型！');
							}
						}
					});
				},
				delType : function(){
					$.ajax({
						type : 'post',
						url : '/delType',
						data : app.type,
						success : function(result){
							if(result.code == 0){
								alert('yes delete');
							}else{
								alert('删除类型不能为空！');
							}
						}
					});
				}
			}
		});
		$(function() {
			app.checkSignin();
		});
	</script>
</body>
</html>