<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>登录</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div id="app" v-cloak>
		<div class="container">
			<div class="row">
				<div>
				    <h5>用户名：</h5>
					<input class="form-control" v-model="user.username">
					<h5>密码：</h5>
					<input class="form-control" v-model="user.password" type="password">
					<a href="/user/signup.html">还没有账号？注册一个</a>
					<button class="btn" @click="signin()">登录</button>
				</div>
			</div>
		</div>
		
		<div id="modal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
						</button>
						<h4 class="modal-title">{{message}}</h4>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" @click="yes()">确定</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/vue.min.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el : '#app',
			data : {
				user : { },
				message : ''
			},
			methods : {
				signin : function(){
					$.ajax({
						url : '/signin',
						type : 'post',
						data : app.user,
						success : function(result){
							if(result.code == 0){
								app.message = '登录成功';
								$('#modal').modal('show');
							}else{
								app.message = result.message;
								$('#modal').modal('show');
							}
						}
					});
				},
				yes : function(){
					if(this.message == '登录成功'){
						window.location.href = '/order/get.html';
					}
				}
			}
		});
		$(function() {
			
		});
	</script>
</body>
</html>